#carrossel {
  width: 1056px;
  height: 250px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

#header {
  margin-left: 0.5em;
  font-family: 'Norican', cursive;
  font-size: 3em;
  text-align: center;
}

#carrossel #carrossel-list {
  list-style: none;
  width: 2464px;
  position: relative;
  left: 0px;
  padding-left: 0px;
  -webkit-padding-start: 0px;
}

.carrossel-item {
  float: right;
  padding: 1px;
}

.carrossel-item img {
  width: 350px;
  height: 250px;
}

.button {
  opacity: 0.6;
  border: 0;
  width: 47px;
  height: 61px;
  position: absolute;
  top: 110px;
  z-index: 200;
}

.button:hover {
  opacity: 0.8;
}

.left {
  background: url('../images/left.png');
}

.right {
  background: url('../images/right.png');
  left: 1016px;
}
